* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: rgb(127, 120, 120);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: white;
  box-shadow: 0 2px 8px rgb(183, 181, 181);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(110, 108, 108);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: rgb(0, 0, 0);
}

.username-btn {
  background-color: #e5f3ff;
  color: #2f88e7;
  padding: 20px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.username-btn:hover {
  background-color: #cce8ff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 60px;
  height: 83vh;
  overflow: hidden;
}

.hero-desc {
  flex: 1;
  max-width: 650px;
}

.hero-desc h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #2f2f2f;
  line-height: 1.3;
}

.hero-desc h1 span {
  color: #0099ff;
}

.hero-desc p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.service-btn {
  display: inline-block;
  background-color: #0099ff;
  color: white;
  padding: 20px 24px;
  border-radius: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.1rem;
}

.service-btn:hover {
  background-color: #0073cc;
}

.hero-image {
  flex: 1;
  max-width: 500px;
}

.hero-image img {
  width: 100%;
  height: auto;
}
